Package: com.person.sm64ios
Name: SM64ios
Version: 1.0
Architecture: iphoneos-arm
Description: Super Mario 64 for iOS! If you do not own this game already, this may be illegal to download! Download at your own risk! I take no responsibility for your actions/
Maintainer: slicey64
Author: slicey64
Section: Games
